nanocluster-nanocluster-controlplane-0.yaml
nanocluster-nanocluster-controlplane-1.yaml
nanocluster-nanocluster-controlplane-2.yaml
nanocluster-nanocluster-worker-0.yaml
nanocluster-nanocluster-worker-1.yaml
nanocluster-nanocluster-worker-2.yaml
nanocluster-nanocluster-worker-3.yaml
nanocluster-nanocluster-worker-4.yaml
talosconfig
nanocluster-nanocluster-worker-5.yaml
nanocluster-nano-0.yaml
nanocluster-nano-1.yaml
nanocluster-nano-2.yaml
nanocluster-nano-3.yaml
